{% extends "KauffmanLabApp/navbar.html" %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Page</title>
        {% block title %}About Page{% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block content %}
        <div class="content-container">
            <h2>About Page</h2>
            <hr>
            <h3><center><i>All living systems are touched by viruses.<br><br>Where one looks for their influence, one will find it –<br>where one hasn't yet, a piece of the story remains to be told.</i></h3>
            <br/>
            <p>In the Kauffman lab, our focus is on understanding how viruses that infect bacteria interact with their hosts, and how these interactions shape the ecological, evolutionary, and functional properties of bacteria and microbial communities. These viruses that infect bacteria are called bacteriophages, or phages. We use cultivation- and sequencing-based approaches to study phages in the context of microbial communities, with the aim of uncovering the molecular underpinnings of microbial system-level properties.</center></p>
            <br>
            <center><h4>CURRENT FOCAL PROJECT LINES</h4></center>
            <p><b>Phages in the oral microbiome:</b> Determining the structure of phage-bacteria interactions in microbial communities in the human oral microbiome, and how and why these differ in health and disease.</p>
            <br/>
            <ul>
                <li>Expanding the <a href='https://homd.org/' target="_blank">Human Oral Microbiome Database</a> to include oral phages (NIH NIDCR <a href="https://reporter.nih.gov/search/XesIbfAsq0a0MsXjqWh1Ng/project-details/10210731"  target="_blank">R01DE016937-16</a> subaward)</li>
                <li>Detecting phages in the <a href="https://www.salivaryproteome.org/" target="_blank">Human Salivary Proteome</a> (NIH NIDCR <a href="https://reporter.nih.gov/search/XesIbfAsq0a0MsXjqWh1Ng/project-details/10429378"  target="_blank">R01DE016937-16S1</a> supplement subaward)</li>
                <li>Uncovering phage interactions in the oral microbiome #Porphyromonas (NIH NIDCR <a href="https://reporter.nih.gov/search/FddfZnJTPEevAXKildRtBQ/project-details/10528068"  target="_blank">R03DE030987-01</a>)</li>
            </ul>
            <br/>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8m5LDneGtos?si=7uwpXuqh1q9QkUpW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br/>
        </div>
        {% endblock %}
    </body>
</html>
