{% extends "KauffmanLabApp/navbar.html" %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}Contact Page{% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block content %}
        <div class="content-container">
            <h2>Contact Page</h2>
            <hr>
            <p>Work in progress</p>   
        </div>
        {% endblock %}
    </body>
</html>
