{% extends "KauffmanLabApp/navbar.html" %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}Sample Input Page{% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
<div class="content-container">
    <h2>Sample Entry Form</h2>
    <hr>
    {% comment %} <form method="post" action="{% url 'submit_sample' %}"> {% endcomment %}
    <form method="post" action="">
        {% if submitted %}
            Submitted Successfully
        {% else %}
        <form action="" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endif %}
    </form>
    <br><br>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var singleEntryRadio = document.getElementById("id_entry_type_0");
        var batchEntryRadio = document.getElementById("id_entry_type_1");
        var tubeIdStartInput = document.getElementById("id_tube_id_start");
        var tubeIdStartLabel = document.querySelector("label[for='id_tube_id_start']");
        var tubeIdEndInput = document.getElementById("id_tube_id_end");
        var tubeIdEndLabel = document.querySelector("label[for='id_tube_id_end']");
        var tubeIdInput = document.getElementById("id_tube_id");
        var tubeIdLabel = document.querySelector("label[for='id_tube_id']");
        
        function BatchFields() {
            tubeIdInput.style.display = "none";
            tubeIdLabel.style.display = "none";
            tubeIdStartInput.style.display = "block";
            tubeIdStartLabel.style.display = "block";
            tubeIdEndInput.style.display = "block";
            tubeIdEndLabel.style.display = "block";
            tubeIdInput.removeAttribute("required");
            tubeIdStartInput.setAttribute("required", "required");
            tubeIdEndInput.setAttribute("required", "required");
        }

        function SingleField() {
            tubeIdInput.style.display = "block";
            tubeIdLabel.style.display = "block";
            tubeIdStartInput.style.display = "none";
            tubeIdStartLabel.style.display = "none";
            tubeIdEndInput.style.display = "none";
            tubeIdEndLabel.style.display = "none";
            tubeIdInput.setAttribute("required", "required");
            tubeIdStartInput.removeAttribute("required");
            tubeIdEndInput.removeAttribute("required"); 
        }

        // Hide batch fields and show single field initially
        SingleField();

        // Trigger change event on radio buttons based on default value
        if (singleEntryRadio.checked) {
            singleEntryRadio.dispatchEvent(new Event('change'));
        } else if (batchEntryRadio.checked) {
            batchEntryRadio.dispatchEvent(new Event('change'));
        }

        // Event listener for singleEntryRadio
        singleEntryRadio.addEventListener("change", function() {
            SingleField();  
        });

        // Event listener for batchEntryRadio
        batchEntryRadio.addEventListener("change", function() {
            BatchFields();
        });
    });
</script>
{% endblock %}
</body>
</html>
