{% extends "KauffmanLabApp/navbar.html" %}
{% comment %} {% load render_table from django_tables2 %} {% endcomment %}
{% load django_tables2 %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}Sample List Page{% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
<div>
    <!-- Filter Form -->
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="Sample_Type" class="form-control" placeholder="Sample Type">
            </div>
            <div class="col-md-3">
                <input type="text" name="Material_Type" class="form-control" placeholder="Material Type">
            </div>
            <div class="col-md-3">
                <input type="text" name="User_ID" class="form-control" placeholder="User ID">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Filter</button>
    </form>

    {% comment %} <!-- Render the table -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-primary">
            {% render_table filter.qs %}
        </table>
    </div> {% endcomment %}
    <!-- Render the table -->
    <div class="table-responsive">
        <form method="post" id="operation-form">
            {% csrf_token %}
            {{ form.selected_ids }}
            {% render_table filter.qs %}
        </form>
    </div>
    <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'sample_csv' %}';">Import CSV</button>
    <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'sample_pdf' %}';">Import PDF</button>
<br/><br/>
</div>
{% endblock %}

</body>
</html>
