.content-container {
    width: 80%;
    margin: 0 auto; 
}

.alert-container {
    width: 80%;
    margin: 0 auto; 
}

.sample-list-container {
    width: 95%;
    margin: 0 auto;
}

.filter-section {
    float: left;
    width: 18%; /* Adjust width as needed */
}

.filter-fields{
    height: 70vh; /* 75% of the viewport height */
    overflow-y: auto; /* Adds a vertical scrollbar when content overflows */
    /* border: 1px solid #000; Optional: To visualize the div boundary */
    /* padding: 10px; Optional: Adds some padding inside the div */
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}

.gap-section{
    width: 2%;
}

.table-section {
    float: right;
    width: 80%; /* Adjust width as needed */
}

.clear {
    clear: both;
}

table {
    width: 100%;
}

table th, table td {
    word-wrap: break-word;
    height: 50px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px; /* Adjust as needed */
}

.search-bar form {
    width: 60%; /* Adjust as needed for the desired length */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar form p {
    flex: 1; /* Make input fields take up available space */
    margin-right: 10px; /* Space between the input and the button */
}

.search-bar form input[type="text"] {
    width: 100%; /* Ensure the input field uses the full width of its container */
}

.search-bar .btn-primary {
    margin-left: 10px; /* Space between the input and the button */
}

.sticky-header th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); 
}